n8n_workflows/post-sales-orchestration-pipeline.json
{
  "name": "post-sales-orchestration-pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4972cd1d-5961-4d73-8ce8-427ef6509f93",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2656,
        -272
      ],
      "id": "b9e310b1-65ac-46ce-a3a1-65d87cfa97c2",
      "name": "Webhook",
      "webhookId": "4972cd1d-5961-4d73-8ce8-427ef6509f93"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a Lead Consultant — an AI onboarding strategist for a professional. Your role is to analyze newly won deals and generate actionable onboarding plans grounded in the company's internal standards.\n\nYou understand that the post-sales delivery phase is critical. The \"Sales-to-Delivery gap\" is where most client relationships either succeed or fail. Your analysis must bridge this gap.\n\nCRITICAL RULES:\n1. Always output valid JSON matching the exact schema provided below.\n2. Assign a confidence score (0.0 to 1.0) based on data completeness, consistency\n   between sources, clarity of requirements, and alignment with internal standards.\n3. If you lack sufficient data to make a recommendation, flag it — never fabricate.\n4. Focus exclusively on DELIVERY risks, not sales risks.\n5. Every recommendation must be actionable within 30 days.\n6. Analyze risks across five categories: Technical, Process, Communication, Scope,\n   and Resource.\n\nCONFIDENCE SCORING GUIDE:\n- Raise confidence: rich website data, complete HubSpot deal fields, relevant RAG\n  matches, consistent story across all three data sources.\n- Lower confidence: sparse/generic website, missing HubSpot fields, no relevant\n  standards matched, contradictory data between sources, ambiguous requirements.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -720,
        128
      ],
      "id": "15ea18ca-3962-46c2-9e9f-86563b423c27",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -720,
        336
      ],
      "id": "e041090f-e2b7-44f3-be03-58346fa2a235",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -128,
        352
      ],
      "id": "b2735e3b-a993-4327-a339-6044c473b5a9",
      "name": "Send a message1",
      "webhookId": "af363ac4-bb95-4887-95a5-671d2cff586a"
    },
    {
      "parameters": {
        "resource": "folder",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "70991563-a4c6-46a7-b06c-f5768500399c",
      "name": "Create folder"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        432,
        0
      ],
      "id": "b28c1912-7d3a-4542-bfa0-41fe7958a03c",
      "name": "Upload file"
    },
    {
      "parameters": {
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        656,
        0
      ],
      "id": "08121336-8e97-479d-9a11-47aecdce12c9",
      "name": "Send a message",
      "webhookId": "99553327-a649-4466-ab1d-50f9ee10cfa1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a45e3c3e-39be-4539-add3-2adef973a263",
              "leftValue": {},
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -352,
        48
      ],
      "id": "f219282a-59f6-4d6e-b728-65d5b3aeec88",
      "name": "IS CONFIDENCE SCORE < 0.7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://express-api:3030/api/scraper",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.properties.domain.value }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1728,
        -272
      ],
      "id": "97493b0c-1653-42d3-85c3-eaead39b323f",
      "name": "AI WEB SCRAPPING API",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "revauto-enterprise-context",
          "mode": "list",
          "cachedResultName": "revauto-enterprise-context"
        },
        "prompt": "=Onboarding requirements and delivery standards for a {{$json.properties.industry.value}} company, \n{{$json.data.companySizeIndicator}} size, deal value {{$('Get a deal').item.json.properties.hs_projected_amount.value}}$USD. Risk assessment and phase-1 delivery checklist.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1456,
        -272
      ],
      "id": "45cd665b-02ea-4a07-ae9d-8d4fab052c49",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "url": "http://express-api:3030/api/generate-dpf",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -80,
        16
      ],
      "id": "c7ff9de4-8177-433a-bbda-696455fb17ff",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const promt = `Analyze this newly won deal and generate an onboarding strategy.\n\n## DEAL INFORMATION\n- Deal Name: ${$('Get a deal').first().json.properties.dealname.value}\n- Company: ${$('Get a company').first().json.properties.name.value}\n- Deal Value: ${$('Get a deal').first().json.properties.hs_projected_amount.value}\n- Primary Contact: ${contactName} \n- Close Date: {closeDate}\n- Additional Properties: {customProperties}\n\n## CLIENT WEBSITE CONTEXT\n- Industry: {industry}\n- Company Size: {companySizeIndicator}\n- Key Services: {keyServices}\n- Tech Stack: {techStack}\n- Pages Analyzed: {pagesScraped}\n- Summary: {summary}\n\n## INTERNAL ONBOARDING STANDARDS (from Knowledge Base)\n{ragChunk1}\n---\n{ragChunk2}\n---\n{ragChunk3}\n---\n{ragChunk4}\n---\n{ragChunk5}\n\n## INSTRUCTIONS\n1. Cross-reference the client profile against our onboarding standards.\n2. Identify delivery risks specific to this client.\n3. Create a 30-day phased delivery strategy.\n4. Flag any items where you are uncertain — these need human review.\n5. Consider the deal size when scoping the onboarding effort.\n\nRespond ONLY with the JSON object. No additional text.`"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        64
      ],
      "id": "d453b5be-50d9-412e-8575-6c8dfb84ceeb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1456,
        -64
      ],
      "id": "debc127c-3647-4ed2-a78d-e9dbc88b4342",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "url": "http://revauto-express-api.railway.internal:3030/api/health",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1840,
        -576
      ],
      "id": "a3684202-807d-454e-a0d8-d9ef32899bd9",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "deal",
        "operation": "get",
        "dealId": {
          "__rl": true,
          "value": "={{ $json.body[0].objectId }}",
          "mode": "id"
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        -2448,
        -272
      ],
      "id": "406bb7fd-fd58-4214-9392-7716a4fe1f12",
      "name": "Get a deal",
      "credentials": {
        "hubspotAppToken": {
          "id": "hTSqJqr1QdvGxmXJ",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "company",
        "operation": "get",
        "companyId": {
          "__rl": true,
          "value": "={{ $json.associations.associatedCompanyIds[0] }}",
          "mode": "id"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        -2240,
        -272
      ],
      "id": "f77cfcc7-0a89-4d4e-842c-99035df5ec0c",
      "name": "Get a company",
      "credentials": {
        "hubspotAppToken": {
          "id": "hTSqJqr1QdvGxmXJ",
          "name": "HubSpot account"
        }
      }
    }
  ],
  "pinData": {
    "AI WEB SCRAPPING API": [
      {
        "json": {
          "status": 200,
          "data": {
            "industry": "Software",
            "companySizeIndicator": "Enterprise",
            "keyServices": [
              "Project Management",
              "Resource Planning",
              "Professional Services Automation",
              "Collaboration Tools",
              "Time Tracking",
              "Billing and Invoicing"
            ],
            "techStack": [
              "QuickBooks",
              "MS Outlook",
              "Jira",
              "Salesforce",
              "Hubspot",
              "Adobe Creative Cloud"
            ],
            "summary": "Birdview is a project and resource management software for professional services companies and internal teams"
          }
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "primary-production-adf3a.up.railway.app",
            "user-agent": "HubSpot Connect 2.0 (http://dev.hubspot.com/) (namespace: webhooks-nio-http-client) - WebhooksExecutorDaemon-executor",
            "content-length": "334",
            "accept": "*/*",
            "content-type": "application/json",
            "x-forwarded-for": "54.174.62.173",
            "x-forwarded-host": "primary-production-adf3a.up.railway.app",
            "x-forwarded-proto": "https",
            "x-hubspot-request-timestamp": "1773692154762",
            "x-hubspot-signature": "e54719734eee77f22751a114ce1eced4c376d04063bd3343aac00f16b5793be9",
            "x-hubspot-signature-v3": "ceMGHnwczyUyV8mmOB9kSuN2QXgBszrTZ4gHHhs+Zd8=",
            "x-hubspot-signature-version": "v1",
            "x-hubspot-timeout-millis": "10000",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "NlRhkR-TSsuH2pkWCx5-qw",
            "x-real-ip": "54.174.62.173",
            "x-request-start": "1773692154801",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": [
            {
              "eventId": 3057172469,
              "subscriptionId": 5838594,
              "portalId": 51137074,
              "appId": 33932368,
              "occurredAt": 1773692154286,
              "subscriptionType": "deal.propertyChange",
              "attemptNumber": 0,
              "objectId": 58025094660,
              "propertyName": "closed_won_reason",
              "propertyValue": "User accepted after last meeting",
              "changeSource": "CRM_UI",
              "sourceId": "userId:88926351"
            }
          ],
          "webhookUrl": "https://primary-production-adf3a.up.railway.app/webhook-test/4972cd1d-5961-4d73-8ce8-427ef6509f93",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "IS CONFIDENCE SCORE < 0.7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IS CONFIDENCE SCORE < 0.7": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI WEB SCRAPPING API": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "Get a deal": {
      "main": [
        [
          {
            "node": "Get a company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a company": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI WEB SCRAPPING API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cfa211ca-fd9f-40ff-859c-dac7773a6303",
  "meta": {
    "instanceId": "dc8264370c3f78376a11031875a00d85652ffdae7dfd494f03db1ce528ec058c"
  },
  "id": "YjGcbC8HFC1ZP4ex",
  "tags": []
}